
		.card-center{
			background-color: aqua;
			color:black
		}
		 /* .card-content{
			background-color: red;
			color:black
		}  */
		.card-title{
			background-color: black;
			color:white
		}
		
		#css{
			color: red
			

		}
		.card-title{
			background-color: pink;
			color:black
		}



	